.expenses-history thead th {
    font-weight: 600;
}

.expenses-history__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expenses-history__total span {
    font-size: 24px;
}