.new-record {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.new-record__content {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.new-record__buttons {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: auto;
}
